p {
  padding: 1em;

}

.starters {
  margin-top: 3em;
  width: 33%;
}

.btn {
  color: black !important;
  background-color: #ffc107 !important;
}

.container {
  display: flex;
  flex: wrap;
  justify-content: space-between;
}

.color-dark {
  background: #512da8;
  color: white;
  text-align: center;
  border-radius: 3px;
}

.player-block {
    display: inline-block;
  box-shadow: 0 10px 6px -6px #777;
  margin-bottom: 2em;
  width: 100%;
  /* border: 1px solid #BDBDBD; */
  border-radius: 3px;
}

.player-card {
  width: 100%;
  margin-left: 25%;
}

.player-card p {
  padding: 0;
}

form {
  width: 50%;
  margin-left: 25%;
}
