
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-black scrolling-navbar ie-nav" [containerInside]="true">
  <logo>
      <a class="logo navbar-brand" href="#"><strong>startingFive</strong></a>
  </logo>
  <links>
      <ul class="navbar-nav mr-auto">
         
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><span class="ai-bluetooth"></span></a>
          </li>

      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbRippleRadius>
              <a target="_blank" href="https://github.com/naeroled" class="nav-link"><i class="fa fa-github"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a target="_blank" href="https://www.linkedin.com/in/london-baker/" class="nav-link"><i class="fa fa-linkedin"></i></a>
          </li>
          <
      </ul>
  </links>
</mdb-navbar>

      